{{ ansible_managed | comment }}

{% for defaults in sudo_defaults %}
Defaults {{ defaults }}
{% endfor %}

root ALL=(ALL) ALL
# Ansible user
{{ ansible_user }} ALL=(ALL) NOPASSWD:ALL

{% for group in _sudo_groups %}
%{{ group }} ALL=(ALL) {{ "NOPASSWD:" if sudo_passwordless }}ALL
{% endfor %}

{% if sudo_include_sudoers_d %}
# This is not a comment; see sudoers(5) for more information on "#include" directives
#includedir {{ sudo_sudoers_d_path }}
{% endif %}
