consul['uid'] = {{ gitlab_consul_user_result.uid }}
consul['gid'] = {{ gitlab_consul_group_result.gid }}
consul['configuration']['datacenter'] = '{{ consul_datacenter }}'
consul['configuration']['encrypt'] = '{{ consul_encrypt }}'
consul['configuration']['ca_file'] = '/etc/consul/ssl/certs/chain.crt'
consul['configuration']['cert_file'] = '/etc/consul/ssl/certs/consul.crt'
consul['configuration']['key_file'] = '/etc/consul/ssl/private/consul.key'
consul['configuration']['verify_incoming'] = true
consul['configuration']['verify_outgoing'] = true
