{{ ansible_managed | comment }}

{% for key in keys %}
{% set key_components = key.split(' ', 2) %}
{{ key_components[0] }} {{ key_components[1] }} {{ key_components[2] | default("no comment for " ~ user['id'] ~ "'s key " ~ loop.index0) }}
{% endfor %}
