{{ ansible_managed | comment }}

[Unit]
After=network-online.target
Description=GitLab GCP Maintenance Hooks
Documentation=https://gitlab.com/gitlab-com/gl-infra/infrastructure/-/issues/12804

[Service]
AmbientCapabilities=CAP_SYS_ADMIN
CapabilityBoundingSet=CAP_SYS_ADMIN
ExecStart=/usr/local/bin/gcp_watchdog
IOSchedulingClass=best-effort
IOSchedulingPriority=1
Nice=-1
ProtectSystem=off
Restart=always
RestartSec=1
StartLimitInterval=0
Type=exec
User=root
WorkingDirectory=/etc/gcp_watchdog

[Install]
WantedBy=multi-user.target
