#!/bin/bash
# vim: ts=4 sw=4 sts=4 et

{{ ansible_managed | comment }}

## Set custom PS1 based on secondary/primary configuration

# We set this value here, so we can easily mock it:
# source $0; HOST=yadda _redraw_ps1
HOST="$(hostname -f)"

# Colors
__ps1_color_user='\[\e[0;32m\]'     # green
if [[ "${EUID}" == 0 ]]; then
    __ps1_color_user='\[\e[0;31m\]' # red for root
fi
# separators: colon, dollar sign, '@' sign
__ps1_color_at='\[\e[1;33m\]'       # bold yellow
__ps1_color_hash='\[\e[1;33m\]'     # bold yellow
__ps1_color_colon='\[\e[1;33m\]'    # bold yellow
#
__ps1_color_host='\[\e[0;32m\]'     # green
__ps1_color_path='\[\e[0;36m\]'     # cyan
__ps1_color_reset='\[\e[0;0m\]'


__ps1_redis() {
    # Helper function: checks whether current host is master redis
    # Echoes resulting string back, always exits with code 0
    # In InSpec, this helper is mocked by defining the following:
    #   function __ps1_redis() {echo "REDIS_CHECKCMD_ERROR"}    # error
    #   function __ps1_redis() {echo "PRIMARY-REDIS"}           # primary
    #   function __ps1_redis() {echo "secondary-redis"}         # secondary
    export REDISCLI_AUTH="$(sudo -u gitlab-redis grep ^requirepass /var/opt/gitlab/redis/redis.conf | cut -d' ' -f2 | tr -d '"')"
    check_result=$( /opt/gitlab/embedded/bin/redis-cli "role" 2> /dev/null )
    if [[ $? -ne 0 ]]; then
        echo -n "REDIS_CHECKCMD_ERROR"
        return
    fi
    if [[ "${check_result}" == *"master"* ]]; then
        echo -n "PRIMARY-REDIS"
    else
        echo -n "secondary-redis"
    fi
}

__ps1_db() {
    # Helper function: checks whether current host is master db
    # Echoes resulting string back, always return success
    # In InSpec, this helper is mocked by defining the following:
    #   function __ps1_db() {echo "DB_CHECKCMD_ERROR"}    # error
    #   function __ps1_db() {echo "PRIMARY-DB"}           # primary
    #   function __ps1_db() {echo "secondary-db"}         # secondary
    check_cmd="$(cd /tmp && timeout 5 sudo -u gitlab-psql -H sh -c "/opt/gitlab/embedded/bin/psql -qtA -h /var/opt/gitlab/postgresql gitlabhq_production -c 'select pg_is_in_recovery();'" 2>/dev/null)"
    if [[ $? -ne 0 ]]; then
        echo -n "DB_CHECKCMD_ERROR"
        return
    fi
    if [[ "${check_cmd}" == "f" ]]; then
        echo -n "PRIMARY-DB"
    else
        echo -n "secondary-db"
    fi
}

_redraw_ps1() {
    # This function redraws prompt by exporting PS1 variable
    # can be invoked from command line to reeval current PS1

    DEFAULT_PS1="\[\e]0;\u@\h: \w\a\]${__ps1_color_user}\u${__ps1_color_at}@${__ps1_color_host}\${HOST}${__ps1_color_colon}:${__ps1_color_path}\w${__ps1_color_hash}\\\$${__ps1_color_reset} "
    # Note: \$ is excaped in ${HOST} in order to evaluate it at runtime, not at define time

    # We don't set modifiers on anything except db or redis
    if [[ "${HOST}" != "db"* && "${HOST}" != "redis"* ]]; then
        export PS1="${DEFAULT_PS1}"
        return
    fi

    # Set modifier color and tier name depending on hostname
    if [[ "${HOST}" == *"staging"* ]]; then
        __ps1_color_mod='\[\e[0;33m\]'  # yellow
        __tier="Staging"
    elif [[ "${HOST}" == *"testbed"* ]]; then
        __ps1_color_mod='\[\e[0;33m\]'  # yellow; same as staging 
        __tier="Testbed"
    elif [[ "${HOST}" == *"dev"* ]]; then
        __ps1_color_mod='\[\e[0;37m\]'  # white
        __tier="Staging"
    else
        # assume production
        __ps1_color_mod='\[\e[1;31m\]'  # bold red
        __tier="PRODUCTION"
    fi

    # On db and redis hosts, we insert modifier:
    #  MODIFIER user@host.domain:/path$ cmd
    if [[ "${HOST}" == "redis"*"sentinel"* ]]; then
        PS1="${__ps1_color_mod} ${__tier} sentinel ${DEFAULT_PS1}"
        export PS1
        return
    fi

    if [[ "${HOST}" == "redis"* ]]; then
        PS1="${__ps1_color_mod} ${__tier} $(__ps1_redis 2>/dev/null) ${DEFAULT_PS1}"
        export PS1
        return
    fi

    if [[ "${HOST}" == "db"* ]]; then
        PS1="${__ps1_color_mod} ${__tier} $(__ps1_db 2>/dev/null) ${DEFAULT_PS1}"
        export PS1
        return
    fi
}

# call once
_redraw_ps1
