{{ ansible_managed | comment }}

[Unit]
Description = pushgateway
Documentation = https://github.com/prometheus/pushgateway
After = network.target

[Service]
Type = simple
ExecStart = {{ prometheus_pushgateway_install_directory }}/pushgateway --log.format=json
ExecReload = /bin/kill -HUP $MAINPID
KillMode = process
LimitNOFILE = 10000
Restart = always
RestartSec = 5s
User = {{ prometheus_pushgateway_system_user }}

[Install]
WantedBy = multi-user.target
