{{ ansible_managed | comment }}
[Service]
ExecStart=
ExecStart=/opt/td-agent/bin/fluentd --log $TD_AGENT_LOG_FILE --daemon /var/run/td-agent/td-agent.pid --gemfile=/etc/td-agent/Gemfile --gem-path=/var/lib/td-agent/vendor/bundle
# Usually td-agent is execetued by the `td-agent` user, but root permissions are
# needed to read logs like /var/log/syslog or /var/log/auth.log
User=root
Group=root
