[Unit]
Description={{ name }}
{% if pgbouncer_systemd_wait_for_dnsmasq %}
After=dnsmasq.service
{% endif %}

[Service]
ExecStart={{ command }}
ExecReload=/bin/kill -{{ pgbouncer_reload_signal }} $MAINPID
KillSignal={{ pgbouncer_stop_signal }}
User={{ pgbouncer_user }}
WorkingDirectory={{ pgbouncer_data_directory }}
Restart={{ pgbouncer_restart_mode }}

# Mimic Omnibus limits
LimitAS=infinity
LimitCORE=0
LimitCPU=infinity
LimitDATA=infinity
LimitFSIZE=infinity
LimitLOCKS=infinity
LimitMEMLOCK=65536
LimitMSGQUEUE=819200
LimitNICE=0
LimitNOFILE=50000
LimitNPROC=infinity
LimitRSS=infinity
LimitRTPRIO=0
LimitSIGPENDING=62793
LimitSTACK=10485760

[Install]
WantedBy=multi-user.target
